.edit-buttons-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    margin-bottom: 10px; /* Space between button and list */
    margin-top: 10px; /* Added margin-top for separation from title */
    padding-right: 2%; /* Align with component padding */
}

.edit-buttons .btn-add {
    background-color: #AB77FF; /* Example background color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-buttons .btn-add:hover {
    background-color: #8A5BBF; /* Darker shade on hover */
}

.iconos-contacto{
    display: flex;
    margin-top: 5%;
    max-width: 100%;
    justify-content: space-around;   
}
.contacto{
    position: relative; /* Needed for absolute positioning of edit button */
    display: flex;
    max-width: 20%; 
}

.contacto .btn-edit {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    background: none;
    border: none;
    color: #AB77FF; /* Or any prominent color */
    cursor: pointer;
    font-size: 1em; /* Adjust size as needed */
    padding: 0;
    z-index: 10; /* Ensure button is above other content */
}

.contacto .btn-edit:hover {
    color: #8A5BBF; /* Darker shade on hover */
}

.img-contacto{
    max-width: 25%;
    display: flex;
    align-items: center;
    
}
.logo-img{
    max-width: 100%;
}
.button-contact{
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 4%;
    background-color: white;
    border: 3px solid;
    border-color: #AB77FF44;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    
}
.button-contact:hover {
    background-color: #AB77FF44;
}
.nombre-contacto{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}