<div class="component">
    <div class="title">
        <h4>Contactos</h4>
    </div>
    <div class="iconos-contacto" *ngIf="contacts && contacts.length > 0">
        <div class="contacto" *ngFor="let contact of contacts">
            <a [href]="contact.url_contacto" target="_blank" class="button-contact">
                <div class="img-contacto">
                    <img [src]="getFullImageUrl(contact.logo_img)" [alt]="'Logo ' + contact.nombre" class="logo-img">
                </div>
                <div class="nombre-contacto">
                    <span>{{ contact.nombre }}</span>
                </div>
            </a>
        </div>
    </div>
    <div *ngIf="!contacts || contacts.length === 0">
        <p>No hay contactos disponibles.</p>
    </div>
</div>