    <div class="component">
    <div *ngIf="isLoading" class="loading-message">Cargando datos personales...</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <ng-container *ngIf="persona && !isLoading">
        <app-personal-data [personalData]="persona"></app-personal-data>
        <app-contacts [contacts]="persona.contactos"></app-contacts>
        <app-projects></app-projects>
        <app-education></app-education>
        <app-skills></app-skills> <!-- SkillsComponent will fetch its own data -->
    </ng-container>
</div>