    <div class="component">
    <div *ngIf="isLoading" class="loading-message">Cargando datos personales...</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div *ngIf="!persona && !isLoading && !errorMessage" class="maintenance-container">
        <div class="maintenance-content">
            <i class="fa-solid fa-screwdriver-wrench maintenance-icon"></i>
            <h2>CV en Mantenimiento</h2>
            <p>Estamos actualizando la información profesional. Por favor, vuelve a visitarnos pronto.</p>
        </div>
    </div>

    <ng-container *ngIf="persona && !isLoading">
        <app-personal-data [personalData]="persona" (onUploadSuccess)="loadPersonaData()"></app-personal-data>
        <app-contacts [contacts]="persona.contactos" [personaId]="persona.id_persona" (onContactAdded)="loadPersonaData()"></app-contacts>
        <app-projects [personaId]="persona.id_persona"></app-projects>
        <app-education [personaId]="persona.id_persona"></app-education>
        <app-skills [personaId]="persona.id_persona"></app-skills> <!-- SkillsComponent will fetch its own data -->
    </ng-container>
</div>