<div class="component">
    <details>
        <summary>
            <div class="title-list">
                <h4>Experiencia (Proyectos)</h4>
                <i class="fa-solid fa-angle-right arrow"></i>
            </div>
        </summary>
        <div *ngIf="isLoading" class="loading-message">Cargando datos de proyectos...</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <ng-container *ngIf="!isLoading && !errorMessage">
            <div *ngIf="projects && projects.length > 0; else noProjects">
                <div class="experience-item" *ngFor="let project of projects">
                    <div class="project-header">
                        <img [src]="getFullImageUrl(project.logo)" [alt]="project.nombre || 'Project Logo'" class="project-logo">
                        <h1>{{ project.nombre }}</h1>
                    </div>
                    <div>
                        <p *ngIf="project.inicio || project.fin">{{ project.inicio }} - {{ project.fin }}</p>
                    </div>
                    <div>
                        <h4>{{ project.descripcion }}</h4>
                    </div>
                    <div *ngIf="project.url">
                        <a [href]="project.url" target="_blank">Ver Proyecto</a>
                    </div>
                    <!-- Display tools for this project -->
                    <app-skills *ngIf="project.herramientas && project.herramientas.length > 0"
                                [skills]="project.herramientas"></app-skills>
                </div>
            </div>
            <ng-template #noProjects>
                <p>No hay proyectos disponibles.</p>
            </ng-template>
        </ng-container>
    </details>
</div>