.experience-item{
    padding: 0% 2%;
    margin: 5% 1%;
    border: 2px solid #AB77FF44;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.project-header {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.project-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 15px;
}

h1 {
    margin: 3% 0%;
    font-weight: 400; /* Evita pesos muy delgados */
}
.experience-item h4{
    font-weight: 400;
}
.project-view{
    display: flex;
    max-width: 80%; 
    justify-content: center;
    margin: 5% auto;
}
.button-project{
    all: unset;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
    padding: 4%;
    background-color: white;
    border: 3px solid;
    border-color: #AB77FF44;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.button-project:hover {
    background-color: #AB77FF44;
}