<div class="experience">
    <details>
        <summary>
            <div class="title-list">
                <h4>Experiencia</h4>
                <i class="fa-solid fa-angle-right arrow"></i>
            </div>
        </summary>
        <div class="experience-item">
            <div>
                <div>
                    <h1>CV WEB</h1>
                </div>
                <div>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate reiciendis totam, labore
                        ratione
                        voluptate ut ab fuga hic assumenda earum.

                    </h4>
                </div>
                <div class="project-view">
                    <button class="button-project">
                        <span>Ver proyecto</span>
                    </button>
                </div>
            </div>
        </div>
    </details>
</div>