<div class="experience">
    <div class="mark">
        <h4>Experiencia</h4>
    </div>
    <div>
        <div>
            <h1>CV WEB</h1>
        </div>
        <div>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate reiciendis totam, labore ratione
                voluptate ut ab fuga hic assumenda earum.

            </h4>
        </div>
        <div class="project-view">
            <button class="button-project">
                    <span >Ver proyecto</span>
            </button>
        </div>
    </div>
</div>