<div *ngIf="personalData" class="component personal-data">
    <div class="personal-img">
        <img [src]="getFullImageUrl(personalData.imagenUrl)" 
             [alt]="'Imagen de perfil de ' + (personalData.nombre || 'Usuario')" 
             class="center-img">
    </div>
    <div class="personal-info">
        <h1>{{ personalData.nombre }} {{ personalData.apellido }}</h1>
        <h3>PROGRAMMER</h3>
        <p>
            {{ calculateAge(personalData.fecha_nacimiento) }} Años
            <span *ngIf="personalData.num_celular"> | {{ personalData.num_celular }}</span>
        </p>
    </div>
    <div class="residencia" *ngIf="personalData.residencia && personalData.residencia.length > 0">
        <ng-container *ngFor="let res of personalData.residencia; let i = index">
            <h4>{{ res.localidad }} - </h4>
            <h4>{{ res.provincia }} - </h4>
            <h4>{{ res.pais }}<span *ngIf="i < personalData.residencia.length - 1"> | </span></h4>
        </ng-container>
    </div>
    <div class="personal-description">
        <p>{{ personalData.descripcion_mi }}</p>
    </div>
</div>

<!-- No need for a separate loading state here, as it's handled by the parent HomeComponent -->