.personal-data {
    display: block;
    max-width: 100%;
    margin-bottom: 2%;
}

.personal-img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.center-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

.center-img {
    border-radius: 50%;
    max-width: 100%;


}

.personal-info {
    display: block;
    text-align: center;
    line-height: 0.8;
    
}

.residencia {
    display: flex;
    justify-content: center;

}

.residencia h4 {
    margin: 0%;
}

.personal-description {
    display: block;
    text-align: justify;
    margin: 10% 0%;
}

.personal-description p {
    margin: 0% 5%;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-family: 'Vend Sans', sans-serif;
}

.contact-info {
    display: block;
    max-width: 100%;
    background-color: #AB77FF44;
    padding: 1%;
}

.contact-info h4 {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    margin: 0%;
    font-family: 'Vend Sans', sans-serif;
}
.iconos-contacto{
    display: flex;
    margin-top: 5%;
    max-width: 100%;
    justify-content: space-around;

    
}

.contacto{
    display: flex;
    max-width: 20%; 
}

.img-contacto{
    max-width: 25%;
    display: flex;
    align-items: center;
    
}
.logo-img{
    max-width: 100%;
}
.button-contact{
    all: unset;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 4%;
    background-color: white;
    border: 3px solid;
    border-color: #AB77FF44;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    
}
.button-contact:hover {
    background-color: #AB77FF44;
}

.nombre-contacto{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}