.personal-data {
    display: block;
    max-width: 100%;
}

.personal-img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.center-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

.center-img {
    border-radius: 50%;
    max-width: 100%;


}

.personal-info {
    display: block;
    text-align: center;
    line-height: 0.8;
    
}

.residencia {
    display: flex;
    justify-content: center;

}

.residencia h4 {
    margin: 0%;
}

.personal-description {
    display: block;
    text-align: justify;
    margin: 10% 0%;
}

.personal-description p {
    margin: 0% 5%;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-family: 'Vend Sans', sans-serif;
    text-align: center; /* Changed from justify to center */
}