.component {
    margin-top: 3%;
}
.tools-view{
    display: flex;
    justify-content: center;
    margin: 5% auto;
}
.summary-tools{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 2%;
    background-color: white;
    border: 3px solid;
    border-color: #AB77FF44;
    border-radius: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.button-tools:hover {
    background-color: #AB77FF44;
}
.card-list {
    display: grid;
    /* auto-fit expande los items para llenar el ancho. 
       minmax(calc(25% - 15px), 1fr) asegura un máximo de 4 por fila. */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    gap: 15px;
}

.card {
    position: relative; /* Essential for absolute positioning of CRUD buttons */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 2px solid #AB77FF44;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.crud-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.crud-buttons .btn-edit,
.crud-buttons .btn-delete {
    background: none;
    border: none;
    color: #AB77FF;
    cursor: pointer;
    font-size: 1.2em;
    padding: 3px;
    transition: color 0.3s;
}

.crud-buttons .btn-edit:hover,
.crud-buttons .btn-delete:hover {
    color: #8A5BBF;
}
.tools-img {
    width: 60px; /* Fixed width for consistency */
    height: 60px; /* Fixed height for consistency */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-img img {
    width: 100%;
}

.tools-description {
    width: 80%;
    text-align: start;
}

.tools-description h4 {
    margin: 1%;
}

.tools-description p {
    margin: 1%;
}
.button-tools {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: white;
    border: 3px solid;
    border-color: #AB77FF44;
    border-radius: 5%; /* usa el mismo color del texto que lo rodea */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}
.button-tools:hover {
    background-color: #AB77FF44;
}
.tools-description a{
    text-decoration: none;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.tools-description a.view-resource-button{
    display: inline-block;
    margin-top: 3%;
    padding: 10px 20px;
    background-color: #8A5BBF;
    border: 2px solid #8A5BBF;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.tools-description a.view-resource-button:hover{
    background-color: white;
    color: #8A5BBF;
}