<div class="component">
    <details>
        <summary>
            <div class="tools-view summary-tools">
                <span>Tools Used</span>
            </div>
        </summary>
        <div *ngIf="tools && tools.length > 0; else noTools" class="card-list">
            <div class="card" *ngFor="let tool of tools">
                <div class="tools-img">
                    <!-- Assuming tool object might have an image property, otherwise use a default -->
                    <img src="assets/img/image.png" alt="Tool Image">
                </div>
                <div class="tools-description">
                    <h4>{{ tool.nombre }}</h4>
                    <p>{{ tool.version }}</p>
                    <!-- Removed repository link as it was part of the hardcoded example and not dynamic data -->
                </div>
            </div>
        </div>
        <ng-template #noTools>
            <p>No hay herramientas disponibles.</p>
        </ng-template>
    </details>
</div>