<div class="component">
    <div class="project-detail-item">
        <div class="project-detail-title">
            <h1>Portfolio web</h1>
        </div>
        <div>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate reiciendis totam, labore
                ratione
                voluptate ut ab fuga hic assumenda earum.
            </h4>
        </div>
        <div class="title-list">
            <h4>Herramientas</h4>
        </div>
        <div class="card-list">
            <div class="card">
                <div class="skill-img">
                    <img src="https://i.pinimg.com/736x/6b/e5/22/6be522d7e6912b78520d1a20db5d9613.jpg" alt="">
                </div>
                <div class="skill-description">
                    <h4>Spring Boot</h4>
                    <p>1.1.18</p>
                    <p>En el boton de abajo podes ver el repositorio</p>
                    <div class="project-view">
                        <button class="button-project">
                            <a href="https://github.com/gastoncorrea/cv-angular.git" target="_blank" rel="noopener noreferrer">
                                Ver
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="skill-img">
                    <img src="assets\img\spring-logo.png" alt="">
                </div>
                <div class="skill-description">
                    <h4>Spring Boot</h4>
                    <p>1.1.18</p>
                </div>
            </div>
        </div>
    </div>
</div>