.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 2%;
    margin: 3% 1%;
    border: 2px solid #AB77FF44;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.skill-img {
    width: 10%;
}

.skill-img img {
    width: 100%;
}

.skill-description {
    width: 80%;
    text-align: start;
}

.skill-description h4 {
    margin: 1%;
}

.skill-description p {
    margin: 1%;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0; /* Lighter background for the container */
    border-radius: 5px;
    overflow: hidden;
    margin-top: 8px;
}

.progress-bar {
    height: 100%;
    background-color: #6200EE; /* A more thematic color, e.g., deep purple */
    border-radius: 5px;
    transition: width 0.5s ease;
}

.progress-text {
    font-size: 0.8em;
    color: #555;
    margin-top: 4px;
    display: block; /* Ensure it takes its own line */
}