<div class="component">
    <details>
        <summary>
            <div class="title-list">
                <h4>Skills</h4>
                <i class="fa-solid fa-angle-right arrow"></i>
            </div>
        </summary>
        <div *ngIf="isLoading" class="loading-message">Cargando habilidades...</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <div class="card-list" *ngIf="skillsWithProgress && skillsWithProgress.length > 0; else noSkills">
            <div class="card" *ngFor="let skillProgress of skillsWithProgress">
                <div class="skill-img">
                    <img [src]="getFullImageUrl(skillProgress.herramienta.logo)" [alt]="skillProgress.herramienta.nombre || 'Skill Image'">
                </div>
                <div class="skill-description">
                    <h4>{{ skillProgress.herramienta.nombre }}</h4>
                    <p *ngIf="skillProgress.herramienta.version">{{ skillProgress.herramienta.version }}</p>
                    <div class="progress-bar-container">
                        <div class="progress-bar" [style.width.%]="skillProgress.percentage"></div>
                    </div>
                    <span class="progress-text">{{ skillProgress.percentage | number:'1.0-2' }}% ({{ skillProgress.usageCount }} usos)</span>
                    <a *ngIf="skillProgress.herramienta.url" [href]="skillProgress.herramienta.url" target="_blank" rel="noopener noreferrer">Ver recurso</a>
                </div>
            </div>
        </div>
        <ng-template #noSkills>
            <p>No hay habilidades disponibles.</p>
        </ng-template>
    </details>
</div>