<div class="component">
    <details>
        <summary>
            <div class="title-list">
                <h4>Skills</h4>
                <i class="fa-solid fa-angle-right arrow"></i>
            </div>
        </summary>
        <div class="card-list">
            <div class="card">
                <div class="skill-img">
                    <img src="assets\img\spring-logo.png" alt="">
                </div>
                <div class="skill-description">
                    <h4>Spring Boot</h4>
                    <p>1.1.18</p>
                    <div class="progress-bar">
                        <div class="fill-bar"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="skill-img">
                    <img src="assets\img\spring-logo.png" alt="">
                </div>
                <div class="skill-description">
                    <h4>Spring Boot</h4>
                    <p>1.1.18</p>
                    <div class="progress-bar">
                        <div class="fill-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </details>
</div>